<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="dao.data_dictionary.Data_dictionaryMapper">
	<select id="getDictionary" resultType="Data_dictionary">
		SELECT valueId,valueName FROM data_dictionary WHERE typeCode=#{typeCode}
	</select>
</mapper>
